@import './base.less';
@import './ext.less';

html,body{
    width: 100%;
    height: 100%;
}

.wh100{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    background-color: #fff;
}

// 加载动画的页面
.slide-loading{
    background-color: #eed439;
    
    .loading-box{
        background: url(../img/loading_bg.png) no-repeat;
        position: absolute;
        background-size: 100% 100%;
        width: 6rem;
        height: 6rem;
        left: 50%;
        top: 50%;
        .transform(translate3d(-50%,-50%,0));

        .loading-box-dot{
            background: url(../img/duoshou_bg_dot.png) no-repeat;
            background-size: 3rem 0.7rem;
            position: absolute;
            width: 3rem;
            height: 0.7rem;
            left: 0;
            top: 3.7rem;
            .animation(loading-dot 2s linear infinite);
        }

        .loading-info{
            font-size: 0.8rem;
            position: absolute;
            right: 0;
            bottom: 0;
            color: #333;
        }
    }
}

@-webkit-keyframes loading-dot{
    from {width: 0;}
    to {width: 3rem;}
} 

@keyframes loading-dot{
    from {width: 0;}
    to {width: 3rem;}
}

// 准备页面
.slide-ready{
    background: url(../img/index-bg.png) center 0 no-repeat #f15b3a;
    background-size: 100% 100%;

    // 宣传图
    .index-title-wrap{
        width: 100%;
        height: 90%;
        background: url(../img/index-title.png) no-repeat;
        background-size: 100%;
        font-size: 0;
    }

    .start-btn{
        position: absolute;
        background: url(../img/index_star_btn.png) no-repeat;
        background-size: 100%;
        width: 4rem;
        height: 1.5rem;
        bottom: 2rem;
        left: 1.75rem;
    }
}